:root {
    --bgcolor-header-linear-from: rgba(45, 82, 145, 0.5);
    --bgcolor-header-linear-to: rgba(45, 82, 145, 0.75);
    --bgcolor-button-linear-from: #fc8898;
    --bgcolor-button-linear-to: #ffb961;
    --bgcolor-button-facebook: #3b599a;
    --bgcolor-button-google: #de4b38;
    --bgcolor-social-button-hover: #FFF;
    --bgcolor-footer: #ecf4fa;
    
    --color-header-title: #FFFF00;
    --color-header-subtitle: #FFF;
    --color-shadow: #bdbdbd;
    --color-border-bottom: #ff942f;
    --color-default-tab-forms: #d5dbe2;
    --color-link-forms: #2f3169;
    --color-font-input: #3d4046;
    --color-border-input: #dee0e4;
    --color-border-button-facebook: #627db4;
    --color-border-button-google: #eb6f5f;
    --color-font-default-button: #FFF;

    --color-gray-700: #afb7be;
    --color-gray-900: #5c6169;
    --color-white: #FFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* html, body {
    height: 100%;
} */

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

#app {
    /* Aqui poderia ser 100% se todos os elementos parents de #app também fossem */
    height: 100vh;

    display: flex;
    flex-direction: column;
    position: relative;
}

/* Header */

#app .header {
    height: 35%;
    width: 100%;
    background-image: 
        linear-gradient(to bottom, var(--bgcolor-header-linear-from), var(--bgcolor-header-linear-to)), 
        url('background.jpg');
    background-size: cover;
    background-position: center center;
    padding: 3.5rem 0 0 1rem;
}

#app .header h1 {
    color: var(--color-header-title);
    font-weight: 200;
    font-size: 1.5rem;
}

#app .header p {
    color: var(--color-header-subtitle);
    font-weight: 200;
}

/* Fim Header */

/* Forms */

#app .forms {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app .forms .wrapper-form {
    background-color: #FFF;
    min-height: 200px;
    width: 100%;
    margin-top: -8rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 20px -5px var(--color-shadow);
    position: relative;
}

#app .forms .wrapper-form ul {
    list-style: none;
    padding: 1.4rem 0 0;
    display: flex;
}

#app .forms .wrapper-form ul li {
    width: 50%;
    font-size: 1rem;
    text-align: center;
}

#app .forms .wrapper-form ul li strong {
    color: var(--color-default-tab-forms);
    cursor: pointer;
    padding-bottom: 0.20rem;
    transition: all 0.25s ease-in-out;
    border-bottom: 0.20rem solid transparent;
}

#app .forms .wrapper-form ul li:hover strong,
#app .forms .wrapper-form ul li.active strong {
    color: var(--color-link-forms);
    border-bottom: 0.20rem solid var(--color-border-bottom);
}

#app .forms .wrapper-form .form-login {
    padding: 1.4rem 1rem 2rem;
    position: relative;
    background-color: #FFF;
    border-radius: 1rem;
    z-index: 1;
}

#app .forms .wrapper-form .form-login .button-submit,
#app .forms .wrapper-form .button-submit-shadow { 
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFF;
    bottom: 0;
    padding: 0.65rem;
    
    /* Centralizar elemento na horizontal */
    margin: auto;
    left: 0;
    right: 0;
    
    /* O elemento sobe metade (50% = 35px) do seu tamanho (70px) em altura (Y) */
    transform: translateY(50%);
}

#app .forms .wrapper-form .button-submit-shadow {
    box-shadow: 0px 5px 20px -5px var(--color-shadow);
    z-index: 0;
}

#app .forms .wrapper-form .form-login .button-submit .wrapper-button {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 5px 20px -5px var(--color-shadow);
}

#app .forms .wrapper-form .form-login .button-submit button {
    height: 100%;
    width: 100%;
    
    /* Recorta o elemento deixando-o um círculo */
    clip-path: circle();

    border: none;
    background-size: 100% 100%;
    background-image: linear-gradient(to top left, var(--bgcolor-button-linear-from) 20%, var(--bgcolor-button-linear-to) 85%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#app .forms .wrapper-form .form-login .button-submit button:hover {
    background-size: 300% 100%;
    background-position: 100% 20%;
}

#app .forms .wrapper-form .form-login .button-submit button i {
    font-size: 1.5rem;
    color: #FFF;
}

#app .forms .wrapper-form .form-login .form-group {
    margin: 1rem 0rem;
}

#app .forms .wrapper-form .form-login .form-group:first-child {
    /* Apenas o primeiro .form-group não tem margin top */
    margin-top: 0px;
}

#app .forms .wrapper-form .form-login .form-group .form-input {
    border: 1px solid var(--color-border-input);
    border-radius: 5rem;
    height: 45px;
    display: flex;
}

#app .forms .wrapper-form .form-login .form-group .form-input strong {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-gray-700);
}

#app .forms .wrapper-form .form-login .form-group .form-input input {
    background: none;
    border: none;
    color: var(--color-font-input);
    height: 45px;
    outline: none;
    width: 100%;
}

#app .forms .wrapper-form .form-login .form-group .form-input input::placeholder{
    color: var(--color-gray-700);
}

#app .forms .wrapper-form .form-login .form-group .form-remember-password {
    display: flex;
    justify-content: space-between;
    font-size: 0.785rem;
    padding: 0 1rem;
}

#app .forms .wrapper-form .form-login .form-group .form-remember-password .wrapper-remember-password {
    display: flex;
    align-items: center;
}

#app .forms .wrapper-form .form-login .form-group .form-remember-password .wrapper-remember-password input {
    height: 15px;
    width: 15px;
}

#app .forms .wrapper-form .form-login .form-group .form-remember-password .wrapper-remember-password p {
    margin: 0;
    margin-left: 0.385rem;
    color: var(--color-gray-700);
}

#app .forms .wrapper-form .form-login .form-group .form-remember-password a {
    text-decoration: none;
    color: var(--color-gray-700);
}

#app .forms .wrapper-form .form-login .form-group .form-remember-password a:hover {
    color: #000;
}

/* Fim Forms */

/* Footer */

#app .footer {
    align-items: center;
    background-color: var(--bgcolor-footer);
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    padding: 4rem 0 1rem;
    width: 100%;
}

#app .footer p {
    color: var(--color-gray-900);
    font-size: 0.825rem
}

#app .footer .social-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

#app .footer .social-buttons button {
    color: var(--color-font-default-button);
    border-radius: 2rem;
    cursor: pointer;
    font-size: 0.9rem;
    height: 40px;
    margin: 0 0.5rem;
    width: 130px;
    font-family: 'Lato', sans-serif;
}

#app .footer .social-buttons button i {
    margin-right: 0.5rem;
    font-size: 1rem;
}

#app .footer .social-buttons button.facebook {
    border: 2px solid var(--color-border-button-facebook);
    background-color: var(--bgcolor-button-facebook);
}

#app .footer .social-buttons button.facebook:hover {
    border: 2px solid var(--bgcolor-button-facebook);
    color: var(--bgcolor-button-facebook);
}

#app .footer .social-buttons button.google {
    border: 2px solid var(--color-border-button-google);
    background-color: var(--bgcolor-button-google);
}

#app .footer .social-buttons button.google:hover {
    border: 2px solid var(--bgcolor-button-google);
    color: var(--bgcolor-button-google);
}

#app .footer .social-buttons button:hover {
    transition: all 0.5s ease-out;
    background-color: var(--bgcolor-social-button-hover);
}

/* Fim Footer */